# Firebase Realtime Database (shrimp-feed) - IoT stepper control
# /stepper/speed: 0=stop, 1=slow, 2=medium. /stepper/running: true when speed 1 or 2.
FIREBASE_API_KEY=your_firebase_web_api_key
FIREBASE_DATABASE_URL=https://shrimp-feed-default-rtdb.firebaseio.com/
FIREBASE_USER_EMAIL=jithmisamadi2001@gmail.com
FIREBASE_USER_PASS=samadi1234
